<nav class="ui inverted menu">

  <a class="item" href="/">Home Page</a>

  <a class="item" href="/movies">Movie Collection</a>

  <a class="item" href="/details">Collection details</a>

  <a class="item" href="/about">About</a>

</nav>

<script>
 document.querySelector("#{{id}}")?.classList.add("active");
</script>

