{{> menu id="movies"}}

<section class="ui center aligned middle aligned segment">

<h2>List With Movies Categories</h2>
<h3>Click on category to see Collection Details </h3>

<div class="ui four cards">
    {{#each movies}}

<a class="card" href="/details/{{id}}">
<div class="image">
<img src="{{image}}">
</div>

<div class="content">
<div class="header">{{title}}</div>
</div>
</a>





{{/each}}
</div>

</section>
