{{> menu id="movies"}}



<section class="ui center aligned middle aligned segment">

<h2>List With Movies Categories </h2>
<div class="ui four cards">

<a class="card" href="/details/romance">
<div class="image">
<img src="/images/romance.webp">
</div>

<div class="content">
<div class="header">Romance</div>
</div>
</a>

<a class="card" href="/details/action">
<div class="image">
<img src="/images/action.jpg">
</div>
<div class="content">
<div class="header">Action</div>
</div>
</a>

<a class="card" href="/details/serials">
<div class="image">
<img src="/images/serials.jpg">
</div>
<div class="content">
<div class="header">Serials</div>
</div>
</a>

<a class="card" href="/details/documentary">
<div class="image">
<img src="/images/documentary.jpg">
</div>
<div class="content">
<div class="header">Documentary</div>
</div>
</a>

</div>

</section>