{{> menu id ='start'}}



<section class="ui center aligned middle aligned segment">

<h2>Adelina's Movie Collection</h2>

<p>
This is my movie collection. I have a lot of movies that I have watched and enjoyed them,
so I want to share them with you. I hope you will love them as much as I do.
</p>

<h1>Enjoy !!</h1>

<img src="/images/movies.webp" class="ui large centered rounded image">

</section>

