{{> menu}}

<section class="ui center aligned middle aligned segment">
  
  <h2>Adelina's Movie Collection</h2>

  <p>
    This is my movie collection. I have a lot of movies that i have watched and i enjoyed them , so i want to share them with you. I hope you will love them as much as i do . </p>
  <h1>Enjoy !!</h1>

</section>
